# Compiler files
contracts/coti/cache/
contracts/coti/out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
contracts/coti/docs/

contracts/coti/dependencies/
contracts/coti/remappings.txt
contracts/coti/soldeer.lock

.idea/

# Dotenv file
.env
